 {% load static %}
<div class="section section--sidebar" id="sidebar">
	
			<nav class="sidebar-menu"> 
				<ul>
					<li class="dashboard"><a href="/"><b>Dashboard</b></a></li>
					<li class="appointment"><a href="Appointment"><b>Appointments</b></a></li>
					<li class="doctors has-submenu"><a href="#"><b>Doctors<span class="submenu-arrow"></span></b></a>
						<ul class="sidebar-menu__submenu">
							<li><a href="/Add_doctor">Add new doctor</a></li>
							<li><a href="/dashboard__doctors">View all doctors</a></li>
						</ul>
					</li>
					<li class="patients has-submenu"><a href="#"><b>Patients<span class="submenu-arrow"></span></b></a>
						<ul class="sidebar-menu__submenu">
							<li><a href="/dashboard__patients-add">Add new patient</a></li>
							<li><a href="/dashboard__patients">View all patients</a></li>
							
						</ul>
					</li>		
					<li class="inbox"><a href="/dashboard__messages"><b>Messages<span class="submenu-bubble">0</span></b></a></li>
					
				</ul>
			</nav>
	
	</div>