 {% load static %}
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="bello" />
<meta name="description" content=" admin dashboard" />
<meta name="keywords" content="medical dashboard, HTML UI KIT, docteur cmr" />
<title>Medikit</title>
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.scrollbar.css' %}">
<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">  
