 {% load static %}
<header class="content-header">
		
			<div class="sidebar-resize"></div>
			<div class="mobile-menu"><div class="st-burger-icon st-burger-icon--medium"><span></span></div></div>
			
			<div class="content-header__user content-header__dropdown">  
			    <div class="content-header__user-avatar content-header__dropdown-activate" data-dropdown="userdropdown">
					<div class="content-header__user-thumb"><img src="images/{{user.photo}}" alt="" title=""/></div>
					<span class="content-header__user-name">{{user.Nom}}</span>
			    </div>  
				<nav class="dropdown-menu dropdown-menu--header dropdown-menu--user-menu " id="userdropdown"> 	
				<h3 class="dropdown-menu__subtitle">User menu</h3>
				<ul>   
				    <li><a href="#">My profile</a></li>
				    <li><a href="#">Activity</a></li>
				    <li><a href="#">Switch account</a></li>
				    <li><a href="#">Support</a></li>
				    <li class="logout"><a href="/logout" class="button button--general button--red-border">Logout</a></li>
				</ul>
				</nav>
			</div>
			
			<div class="content-header__notifications content-header__dropdown">  
			    <div class="content-header__notifications-icon content-header__icon content-header__dropdown-activate" data-dropdown="notificationsdropdown">
					<img src="images/icons/icons-24-gray/notifications.png" alt="" title=""/>
					<span class="content-header__icon-bubble">0</span>
				</div>  
				<nav class="dropdown-menu dropdown-menu--header dropdown-menu--notifications-menu" id="notificationsdropdown"> 			
				<h3 class="dropdown-menu__subtitle">You have <strong>0</strong> notifications</h3>
				<ul>    
					
					<li class="view-all"><a href="#" class="button button--general button--blue-border">View all</a></li>
				</ul>
				</nav>
			</div>
			
			<div class="content-header__quicklinks content-header__dropdown">  
			        <div class="content-header__quicklinks-icon content-header__icon content-header__dropdown-activate" data-dropdown="quicklinksdropdown">
					<img src="images/icons/icons-24-gray/submenu.png" alt="" title=""/>
				</div>  
				<nav class="dropdown-menu dropdown-menu--header dropdown-menu--quicklinks-menu" id="quicklinksdropdown"> 	
				<h3 class="dropdown-menu__subtitle">Quick links</h3>				
				<ul>
				    
				</ul>
				</nav>
			</div>
			
			<div class="mobile-submenu"></div>

			<nav class="content-header__menu">       
				<ul>
					<li class="user selected"><a href="ajouter_docteur">Add new doctor</a></li>
					<li class="prescription modal-toggle" data-openpopup="prescription"><a href="#">Write a prescription</a></li>
					<li class="reports modal-toggle" data-openpopup="reports"><a href="#">Generate report</a></li>
				</ul>
			</nav>
			
		</header>