{% load static %}
 <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-style.min.js' %}"></script>
<script src="{% static 'js/charts-custom-dashboard.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollbar.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.min.js' %}"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/jquery.dashboard-custom.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/charts-custom-charts.js' %}"></script>