
 <!-- Modal - Appointment --> 
<div class="modal modal--appointment">
		
		<div class="modal__overlay modal__overlay--toggle"></div>
		<div class="modal__wrapper modal-transition">
		  
		<div class="modal__body">
			<div class="modal__header">
				<h2 class="modal__header-title">Make an appointment</h2>
				<div class="modal__close modal__overlay--toggle"><span></span></div>
			</div>
			<div class="modal__content">					
		
				<div class="grid">
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Patient Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--13 grid__col--margin">
							<label class="form__label">PATIENT NAME</label>
							<select class="custom-select" name="appname">
                            {% for p in patient %}
								<option value="Patient Name">{{ p.Nom }}</option>
							{% endfor %}	
							</select>
						</div>
						
					</div>
					<div class="grid__row  grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Appointment Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--12 grid__col--margin">
							<label class="form__label">LOCATION</label>
							<select class="custom-select" name="applocation">
								{% for h in hopital %}
							        <option value="Patient Name">Dr {{ h.NomHopital }}</option>
							    {% endfor %}				
							</select>
						</div>
						<div class="grid__col grid__col--12 grid__col--margin">
									<label class="form__label">DATE &amp; TIME</label>
									<input type="text" name="timepicker" class="form__input" value="" />
						</div>
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Examination Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--13 grid__col--margin">
							<label class="form__label">EXAMINATION TYPE</label>
							<select class="custom-select" name="apptype">
								<option value="Examination">Abdominal radiology</option>
								<option value="Examination">Breast imaging</option>
								<option value="Examination">Cardiothoracic radiology</option>
								<option value="Examination">Cardiovascular radiology</option>
								<option value="Examination">Chest radiology</option>
								<option value="Examination">Emergency radiology</option>
								<option value="Examination">Endovascular surgical neuroradiology</option>
								<option value="Examination">Gastrointestinal radiology</option>
								<option value="Examination">Genitourinary radiology</option>
								<option value="Examination">Head and neck radiology</option>
								<option value="Examination">Interventional radiology</option>
								<option value="Examination">Musculoskeletal radiology</option>
								<option value="Examination">Neuroradiology</option>
								<option value="Examination">Nuclear radiology</option>
								<option value="Examination">Pediatric radiology</option>
								<option value="Examination">Radiation oncology</option>
								<option value="Examination">Vascular and interventional radiology</option>
							</select>
						</div>
						<div class="grid__col grid__col--13 grid__col--margin">
									<label class="form__label">DOCTOR</label>
									<select class="custom-select" name="apptype">
										{% for d in docteur %}
							            	<option value="Patient Name">Dr {{ d.Nom }}</option>
							            {% endfor %}									
									</select>
						</div>
						<div class="grid__col grid__col--13 grid__col--margin">
									<label class="form__label">NOTES</label>
									<input name="notes" id="notes" class="form__input" type="text" />
						</div>
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<input type="submit" name="submit" class="button button--submit button--blue-bg" id="submit" value="ADD APPOINTMENT" />	
						</div>
					</div>
				</div> <!-- End of Grid -->

			</div> 

			
		</div>

		</div>
 </div> 
 
  <!-- Modal - prescription --> 
<div class="modal modal--prescription">
		
		<div class="modal__overlay modal__overlay--toggle"></div>
		<div class="modal__wrapper modal-transition">
		  
		<div class="modal__body">
			<div class="modal__header">
				<h2 class="modal__header-title">Make a prescription</h2>
				<div class="modal__close modal__overlay--toggle"><span></span></div>
			</div>
			<div class="modal__content">					
		
				<div class="grid">
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Patient Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--13 grid__col--margin">
							<label class="form__label">PATIENT NAME</label>
							<select class="custom-select" name="appname">
							{% for p in patient %}
								<option value="Patient Name">{{ p.Nom }}</option>
							{% endfor %}
								
							</select>
						</div>
						
					</div>
					<div class="grid__row  grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Prescription Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--12 grid__col--margin">
							<label class="form__label">MEDICATION</label>
							<select class="custom-select" name="applocation">
									<option value="Acetaminophen">Acetaminophen</option>
									<option value="Adderall">Adderall</option>
									<option value="Alprazolam">Alprazolam</option>
									<option value="Amitriptyline">Amitriptyline</option>
									<option value="Amlodipine">Amlodipine</option>
									<option value="Amoxicillin">Amoxicillin</option>
									<option value="Ativan">Ativan</option>
									<option value="Atorvastatin">Atorvastatin</option>
									<option value="Azithromycin">Azithromycin</option>
									<option value="Ciprofloxacin">Ciprofloxacin</option>
									<option value="Citalopram">Citalopram</option>
									<option value="Clindamycin">Clindamycin</option>
									<option value="Clonazepam">Clonazepam</option>
									<option value="Codeine">Codeine</option>
									<option value="Cyclobenzaprine">Cyclobenzaprine</option>
									<option value="Cymbalta">Cymbalta</option>
									<option value="Doxycycline">Doxycycline</option>
									<option value="Gabapentin">Gabapentin</option>
									<option value="Hydrochlorothiazide">Hydrochlorothiazide</option>
									<option value="Ibuprofen">Ibuprofen</option>
							</select>
						</div>
						<div class="grid__col grid__col--12 grid__col--margin">
									<label class="form__label">PERIOD FOR MEDICATION</label>
									<input type="text" name="dates" class="form__input" value="" />
						</div>
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Doctor Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--13 grid__col--margin">
									<label class="form__label">DOCTOR</label>
									<select class="custom-select" name="apptype">
										{% for d in docteur %}
							            	<option value="Patient Name">Dr {{ d.Nom }}</option>
							            {% endfor %}
										
									</select>
						</div>
						<div class="grid__col grid__col--23 grid__col--margin">
									<label class="form__label">NOTES</label>
									<input name="notes" id="notes" class="form__input" type="text" />
						</div>
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<input type="submit" name="submit" class="button button--submit button--inline button--blue-bg" id="submit" value="SAVE PRESCRIPTION" />
															
						</div>
					</div>
				</div> <!-- End of Grid -->

			</div> 

			
		</div>

		</div>
 </div> 
 
 
   <!-- Modal - reports --> 
<div class="modal modal--reports">
		
		<div class="modal__overlay modal__overlay--toggle"></div>
		<div class="modal__wrapper modal-transition">
		  
		<div class="modal__body">
			<div class="modal__header">
				<h2 class="modal__header-title">Generate report</h2>
				<div class="modal__close modal__overlay--toggle"><span></span></div>
			</div>
			<div class="modal__content">					
		
				<div class="grid">
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Patient Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--13 grid__col--margin">
							<label class="form__label">PATIENT NAME</label>
							<select class="custom-select" name="appname">
							{% for p in patient %}
								<option value="Patient Name">{{ p.Nom }}</option>
							{% endfor %}
								
							</select>
						</div>
						
					</div>
					<div class="grid__row  grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Report Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--12 grid__col--margin">
							<label class="form__label">REPORT TYPE</label>
							<select class="custom-select" name="applocation">
									<option value="Diseases">Diseases report</option>
									<option value="Activity">Activity report</option>
							</select>
						</div>
						<div class="grid__col grid__col--12 grid__col--margin">
									<label class="form__label">REPORT PERIOD</label>
									<input type="text" name="dates" class="form__input" value="" />
						</div>
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<h3 class="grid__col-title">Doctor Information</h3>
						</div>		
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--13 grid__col--margin">
									<label class="form__label">Generated by Doctor</label>
									<select class="custom-select" name="apptype">
										{% for d in docteur %}
							            	<option value="Patient Name">Dr {{ d.Nom }}</option>
							            {% endfor %}
										
									</select>
						</div>
						<div class="grid__col grid__col--23 grid__col--margin">
									<label class="form__label">NOTES</label>
									<input name="notes" id="notes" class="form__input" type="text" />
						</div>
					</div>
					<div class="grid__row grid__row--margin">
						<div class="grid__col grid__col--margin">
							<input type="submit" name="submit" class="button button--submit button--blue-bg" id="submit" value="GENERATE REPORT" />							
						</div>
					</div>
				</div> <!-- End of Grid -->

			</div> 

			
		</div>
        
		</div>
 </div> 